#s-3f144bc4-e050-497e-a223-6f4089cc1b99 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f144bc4-e050-497e-a223-6f4089cc1b99 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f144bc4-e050-497e-a223-6f4089cc1b99 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f144bc4-e050-497e-a223-6f4089cc1b99 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f144bc4-e050-497e-a223-6f4089cc1b99 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f144bc4-e050-497e-a223-6f4089cc1b99 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f144bc4-e050-497e-a223-6f4089cc1b99 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f144bc4-e050-497e-a223-6f4089cc1b99 #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f144bc4-e050-497e-a223-6f4089cc1b99 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f144bc4-e050-497e-a223-6f4089cc1b99 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f144bc4-e050-497e-a223-6f4089cc1b99 #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f144bc4-e050-497e-a223-6f4089cc1b99 #s-Ellipse_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f144bc4-e050-497e-a223-6f4089cc1b99 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f144bc4-e050-497e-a223-6f4089cc1b99 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f144bc4-e050-497e-a223-6f4089cc1b99 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f144bc4-e050-497e-a223-6f4089cc1b99 #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f144bc4-e050-497e-a223-6f4089cc1b99 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f144bc4-e050-497e-a223-6f4089cc1b99 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f144bc4-e050-497e-a223-6f4089cc1b99 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f144bc4-e050-497e-a223-6f4089cc1b99 #s-Ellipse_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f144bc4-e050-497e-a223-6f4089cc1b99 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f144bc4-e050-497e-a223-6f4089cc1b99 #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f144bc4-e050-497e-a223-6f4089cc1b99 #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f144bc4-e050-497e-a223-6f4089cc1b99 #s-Ellipse_18 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f144bc4-e050-497e-a223-6f4089cc1b99 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f144bc4-e050-497e-a223-6f4089cc1b99 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f144bc4-e050-497e-a223-6f4089cc1b99 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f144bc4-e050-497e-a223-6f4089cc1b99 #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f144bc4-e050-497e-a223-6f4089cc1b99 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f144bc4-e050-497e-a223-6f4089cc1b99 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f144bc4-e050-497e-a223-6f4089cc1b99 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f144bc4-e050-497e-a223-6f4089cc1b99 #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f144bc4-e050-497e-a223-6f4089cc1b99 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f144bc4-e050-497e-a223-6f4089cc1b99 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f144bc4-e050-497e-a223-6f4089cc1b99 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f144bc4-e050-497e-a223-6f4089cc1b99 #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f144bc4-e050-497e-a223-6f4089cc1b99 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f144bc4-e050-497e-a223-6f4089cc1b99 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f144bc4-e050-497e-a223-6f4089cc1b99 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f144bc4-e050-497e-a223-6f4089cc1b99 #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f144bc4-e050-497e-a223-6f4089cc1b99 #s-Label_83 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f144bc4-e050-497e-a223-6f4089cc1b99 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f144bc4-e050-497e-a223-6f4089cc1b99 #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f144bc4-e050-497e-a223-6f4089cc1b99 #s-Ellipse_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f144bc4-e050-497e-a223-6f4089cc1b99 #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f144bc4-e050-497e-a223-6f4089cc1b99 #s-Ellipse_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f144bc4-e050-497e-a223-6f4089cc1b99 #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f144bc4-e050-497e-a223-6f4089cc1b99 #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f144bc4-e050-497e-a223-6f4089cc1b99 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f144bc4-e050-497e-a223-6f4089cc1b99 #s-Ellipse_12 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f144bc4-e050-497e-a223-6f4089cc1b99 #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f144bc4-e050-497e-a223-6f4089cc1b99 #s-Ellipse_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f144bc4-e050-497e-a223-6f4089cc1b99 #s-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f144bc4-e050-497e-a223-6f4089cc1b99 #s-Ellipse_14 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f144bc4-e050-497e-a223-6f4089cc1b99 #s-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f144bc4-e050-497e-a223-6f4089cc1b99 #s-Ellipse_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f144bc4-e050-497e-a223-6f4089cc1b99 #s-Rectangle_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f144bc4-e050-497e-a223-6f4089cc1b99 #s-Ellipse_16 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-3f144bc4-e050-497e-a223-6f4089cc1b99 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}