#s-67c129b4-51d3-4c6f-b3bc-62b3533636f8 #s-gradient_bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67c129b4-51d3-4c6f-b3bc-62b3533636f8 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67c129b4-51d3-4c6f-b3bc-62b3533636f8 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67c129b4-51d3-4c6f-b3bc-62b3533636f8 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67c129b4-51d3-4c6f-b3bc-62b3533636f8 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67c129b4-51d3-4c6f-b3bc-62b3533636f8 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67c129b4-51d3-4c6f-b3bc-62b3533636f8 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67c129b4-51d3-4c6f-b3bc-62b3533636f8 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67c129b4-51d3-4c6f-b3bc-62b3533636f8 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67c129b4-51d3-4c6f-b3bc-62b3533636f8 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67c129b4-51d3-4c6f-b3bc-62b3533636f8 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67c129b4-51d3-4c6f-b3bc-62b3533636f8 #s-Image_1 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  margin-left: 0px;
  margin-top: 0px;
}
#s-67c129b4-51d3-4c6f-b3bc-62b3533636f8 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67c129b4-51d3-4c6f-b3bc-62b3533636f8 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67c129b4-51d3-4c6f-b3bc-62b3533636f8 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67c129b4-51d3-4c6f-b3bc-62b3533636f8 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67c129b4-51d3-4c6f-b3bc-62b3533636f8 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67c129b4-51d3-4c6f-b3bc-62b3533636f8 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67c129b4-51d3-4c6f-b3bc-62b3533636f8 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67c129b4-51d3-4c6f-b3bc-62b3533636f8 #s-Image_2 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  margin-left: 0px;
  margin-top: 0px;
}
#s-67c129b4-51d3-4c6f-b3bc-62b3533636f8 #s-Label_83 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67c129b4-51d3-4c6f-b3bc-62b3533636f8 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-67c129b4-51d3-4c6f-b3bc-62b3533636f8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}