#s-c76e410e-33ef-4b12-8a0a-416471c07933 #s-gradient_bg {
  -pie-background: linear-gradient(to bottom,#211E2B,#15131E);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-c76e410e-33ef-4b12-8a0a-416471c07933 #s-Rectangle_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 18px 18px 18px 18px;
  -pie-background: linear-gradient(to bottom,#15131E,#211E2B);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-c76e410e-33ef-4b12-8a0a-416471c07933 #s-Ellipse_1 {
  -pie-background: linear-gradient(to right,#FF4A2B,#FE7325);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-c76e410e-33ef-4b12-8a0a-416471c07933 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c76e410e-33ef-4b12-8a0a-416471c07933 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c76e410e-33ef-4b12-8a0a-416471c07933 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c76e410e-33ef-4b12-8a0a-416471c07933 #s-content > .valign {
  vertical-align: top;
}
#s-c76e410e-33ef-4b12-8a0a-416471c07933 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c76e410e-33ef-4b12-8a0a-416471c07933 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-c76e410e-33ef-4b12-8a0a-416471c07933 #s-Rectangle_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 23px 23px 23px 23px;
  -ms-transform: rotate(0.0deg);
}
#s-c76e410e-33ef-4b12-8a0a-416471c07933 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c76e410e-33ef-4b12-8a0a-416471c07933 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-c76e410e-33ef-4b12-8a0a-416471c07933 #s-Image_1 {
  -ms-transform: rotate(180.0deg);
}
#s-c76e410e-33ef-4b12-8a0a-416471c07933 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-c76e410e-33ef-4b12-8a0a-416471c07933 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-c76e410e-33ef-4b12-8a0a-416471c07933 #s-Panel_6 > .valign {
  vertical-align: top;
}
#s-c76e410e-33ef-4b12-8a0a-416471c07933 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-c76e410e-33ef-4b12-8a0a-416471c07933 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c76e410e-33ef-4b12-8a0a-416471c07933 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-c76e410e-33ef-4b12-8a0a-416471c07933 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-c76e410e-33ef-4b12-8a0a-416471c07933 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-c76e410e-33ef-4b12-8a0a-416471c07933 #s-Image_2 {
  -ms-transform: rotate(180.0deg);
}
#s-c76e410e-33ef-4b12-8a0a-416471c07933 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-c76e410e-33ef-4b12-8a0a-416471c07933 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-c76e410e-33ef-4b12-8a0a-416471c07933 #s-Rectangle_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 8px 8px 8px 8px;
  -ms-transform: rotate(0.0deg);
}
#s-c76e410e-33ef-4b12-8a0a-416471c07933 #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c76e410e-33ef-4b12-8a0a-416471c07933 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-c76e410e-33ef-4b12-8a0a-416471c07933 #s-Image_10 {
  -ms-transform: rotate(180.0deg);
}
#s-c76e410e-33ef-4b12-8a0a-416471c07933 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-c76e410e-33ef-4b12-8a0a-416471c07933 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-c76e410e-33ef-4b12-8a0a-416471c07933 #s-Rectangle_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 13px 13px 13px 13px;
  -ms-transform: rotate(0.0deg);
}
#s-c76e410e-33ef-4b12-8a0a-416471c07933 #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-c76e410e-33ef-4b12-8a0a-416471c07933 #s-approve-button {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-c76e410e-33ef-4b12-8a0a-416471c07933 #s-dismiss-button {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-c76e410e-33ef-4b12-8a0a-416471c07933 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-c76e410e-33ef-4b12-8a0a-416471c07933 #s-Image_12 {
  -ms-transform: rotate(180.0deg);
}
#s-c76e410e-33ef-4b12-8a0a-416471c07933 #s-Label_83 {
  -ms-transform: rotate(0.0deg);
}
#s-c76e410e-33ef-4b12-8a0a-416471c07933 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-c76e410e-33ef-4b12-8a0a-416471c07933 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}