#s-258827c8-c1ec-446a-99f2-5fe2d1009c29 #s-gradient_bg {
  -pie-background: linear-gradient(to bottom,#F3F3F3,#FFFFFF);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-258827c8-c1ec-446a-99f2-5fe2d1009c29 #s-location {
  -ms-transform: rotate(0.0deg);
}
#s-258827c8-c1ec-446a-99f2-5fe2d1009c29 #s-solved-complaints {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  height: 138px;
  width: 164px;
  -ms-transform: rotate(0.0deg);
}
#s-258827c8-c1ec-446a-99f2-5fe2d1009c29 #s-solved-complaints-per-day {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: rgba(0,255,0,0.5);
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: rgba(0,255,0,0.5);
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0,255,0,0.5);
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: rgba(0,255,0,0.5);
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  height: 67px;
  width: 174px;
  -ms-transform: rotate(0.0deg);
}
#s-258827c8-c1ec-446a-99f2-5fe2d1009c29 #s-user-rating {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #0000FF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #0000FF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #0000FF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #0000FF;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  height: 60px;
  width: 174px;
  -ms-transform: rotate(0.0deg);
}
#s-258827c8-c1ec-446a-99f2-5fe2d1009c29 #s-Vertical > .valign {
  vertical-align: top;
}
#s-258827c8-c1ec-446a-99f2-5fe2d1009c29 #s-Department_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: rgba(74,134,232,0.7);
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: rgba(74,134,232,0.7);
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: rgba(74,134,232,0.7);
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: rgba(74,134,232,0.7);
  border-radius: 11px 11px 11px 11px;
  -ms-transform: rotate(0.0deg);
}
#s-258827c8-c1ec-446a-99f2-5fe2d1009c29 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-258827c8-c1ec-446a-99f2-5fe2d1009c29 #s-Ellipse_2 {
  -ms-transform: rotate(0.0deg);
}
#s-258827c8-c1ec-446a-99f2-5fe2d1009c29 #s-Department_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: rgba(74,134,232,0.7);
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: rgba(74,134,232,0.7);
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: rgba(74,134,232,0.7);
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: rgba(74,134,232,0.7);
  border-radius: 11px 11px 11px 11px;
  -ms-transform: rotate(0.0deg);
}
#s-258827c8-c1ec-446a-99f2-5fe2d1009c29 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-258827c8-c1ec-446a-99f2-5fe2d1009c29 #s-Ellipse_1 {
  -ms-transform: rotate(0.0deg);
}
#s-258827c8-c1ec-446a-99f2-5fe2d1009c29 #s-Department_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: rgba(74,134,232,0.7);
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: rgba(74,134,232,0.7);
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: rgba(74,134,232,0.7);
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: rgba(74,134,232,0.7);
  border-radius: 11px 11px 11px 11px;
  -ms-transform: rotate(0.0deg);
}
#s-258827c8-c1ec-446a-99f2-5fe2d1009c29 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-258827c8-c1ec-446a-99f2-5fe2d1009c29 #s-Department_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: rgba(74,134,232,0.7);
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: rgba(74,134,232,0.7);
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: rgba(74,134,232,0.7);
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: rgba(74,134,232,0.7);
  border-radius: 11px 11px 11px 11px;
  -ms-transform: rotate(0.0deg);
}
#s-258827c8-c1ec-446a-99f2-5fe2d1009c29 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-258827c8-c1ec-446a-99f2-5fe2d1009c29 #s-Department_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: rgba(74,134,232,0.7);
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: rgba(74,134,232,0.7);
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: rgba(74,134,232,0.7);
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: rgba(74,134,232,0.7);
  border-radius: 11px 11px 11px 11px;
  -ms-transform: rotate(0.0deg);
}
#s-258827c8-c1ec-446a-99f2-5fe2d1009c29 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-258827c8-c1ec-446a-99f2-5fe2d1009c29 #s-Department_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 12px 12px 12px 12px;
  -ms-transform: rotate(0.0deg);
}
#s-258827c8-c1ec-446a-99f2-5fe2d1009c29 #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-258827c8-c1ec-446a-99f2-5fe2d1009c29 #s-padding {
  -ms-transform: rotate(0.0deg);
}
#s-258827c8-c1ec-446a-99f2-5fe2d1009c29 #s-Image_20 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
}
#s-258827c8-c1ec-446a-99f2-5fe2d1009c29 #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-258827c8-c1ec-446a-99f2-5fe2d1009c29 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}