#s-258827c8-c1ec-446a-99f2-5fe2d1009c29 #s-gradient_bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-258827c8-c1ec-446a-99f2-5fe2d1009c29 #s-location {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-258827c8-c1ec-446a-99f2-5fe2d1009c29 #s-solved-complaints {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-258827c8-c1ec-446a-99f2-5fe2d1009c29 #s-solved-complaints-per-day {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-258827c8-c1ec-446a-99f2-5fe2d1009c29 #s-user-rating {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-258827c8-c1ec-446a-99f2-5fe2d1009c29 #s-Department_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-258827c8-c1ec-446a-99f2-5fe2d1009c29 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-258827c8-c1ec-446a-99f2-5fe2d1009c29 #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-258827c8-c1ec-446a-99f2-5fe2d1009c29 #s-Department_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-258827c8-c1ec-446a-99f2-5fe2d1009c29 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-258827c8-c1ec-446a-99f2-5fe2d1009c29 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-258827c8-c1ec-446a-99f2-5fe2d1009c29 #s-Department_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-258827c8-c1ec-446a-99f2-5fe2d1009c29 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-258827c8-c1ec-446a-99f2-5fe2d1009c29 #s-Department_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-258827c8-c1ec-446a-99f2-5fe2d1009c29 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-258827c8-c1ec-446a-99f2-5fe2d1009c29 #s-Department_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-258827c8-c1ec-446a-99f2-5fe2d1009c29 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-258827c8-c1ec-446a-99f2-5fe2d1009c29 #s-Department_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-258827c8-c1ec-446a-99f2-5fe2d1009c29 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-258827c8-c1ec-446a-99f2-5fe2d1009c29 #s-padding {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-258827c8-c1ec-446a-99f2-5fe2d1009c29 #s-Image_20 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-258827c8-c1ec-446a-99f2-5fe2d1009c29 #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-258827c8-c1ec-446a-99f2-5fe2d1009c29 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}