#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #67B4C1;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #67B4C1;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #67B4C1;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #67B4C1;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  height: 39px;
  width: 64px;
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_39 {
  stroke-width: 1px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_39 {
  stroke-width: 1px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_36 {
  stroke-width: 1px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_36 {
  stroke-width: 1px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow: hidden;
}
.non_jim_mobile #simulation {
  overflow: hidden;
}
.web #simulation {
  overflow: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}