#s-49e625ec-e44e-42de-8235-6d28b0d97ca4 #s-gradient_bg {
  -pie-background: linear-gradient(to bottom,#211E2B,#15131E);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-49e625ec-e44e-42de-8235-6d28b0d97ca4 #s-Rectangle_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 18px 18px 18px 18px;
  -pie-background: linear-gradient(to bottom,#15131E,#211E2B);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-49e625ec-e44e-42de-8235-6d28b0d97ca4 #s-Ellipse_1 {
  -pie-background: linear-gradient(to right,#51B328,#85EB29);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-49e625ec-e44e-42de-8235-6d28b0d97ca4 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-49e625ec-e44e-42de-8235-6d28b0d97ca4 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-49e625ec-e44e-42de-8235-6d28b0d97ca4 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-49e625ec-e44e-42de-8235-6d28b0d97ca4 #s-content > .valign {
  vertical-align: top;
}
#s-49e625ec-e44e-42de-8235-6d28b0d97ca4 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-49e625ec-e44e-42de-8235-6d28b0d97ca4 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-49e625ec-e44e-42de-8235-6d28b0d97ca4 #s-Rectangle_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 23px 23px 23px 23px;
  -ms-transform: rotate(0.0deg);
}
#s-49e625ec-e44e-42de-8235-6d28b0d97ca4 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-49e625ec-e44e-42de-8235-6d28b0d97ca4 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-49e625ec-e44e-42de-8235-6d28b0d97ca4 #s-Image_1 {
  -ms-transform: rotate(180.0deg);
}
#s-49e625ec-e44e-42de-8235-6d28b0d97ca4 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-49e625ec-e44e-42de-8235-6d28b0d97ca4 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-49e625ec-e44e-42de-8235-6d28b0d97ca4 #s-Panel_6 > .valign {
  vertical-align: top;
}
#s-49e625ec-e44e-42de-8235-6d28b0d97ca4 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-49e625ec-e44e-42de-8235-6d28b0d97ca4 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-49e625ec-e44e-42de-8235-6d28b0d97ca4 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-49e625ec-e44e-42de-8235-6d28b0d97ca4 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-49e625ec-e44e-42de-8235-6d28b0d97ca4 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-49e625ec-e44e-42de-8235-6d28b0d97ca4 #s-Image_2 {
  -ms-transform: rotate(180.0deg);
}
#s-49e625ec-e44e-42de-8235-6d28b0d97ca4 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-49e625ec-e44e-42de-8235-6d28b0d97ca4 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-49e625ec-e44e-42de-8235-6d28b0d97ca4 #s-Rectangle_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 10px 10px 10px 10px;
  -ms-transform: rotate(0.0deg);
}
#s-49e625ec-e44e-42de-8235-6d28b0d97ca4 #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-49e625ec-e44e-42de-8235-6d28b0d97ca4 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-49e625ec-e44e-42de-8235-6d28b0d97ca4 #s-Image_10 {
  -ms-transform: rotate(180.0deg);
}
#s-49e625ec-e44e-42de-8235-6d28b0d97ca4 #s-Label_83 {
  -ms-transform: rotate(0.0deg);
}
#s-49e625ec-e44e-42de-8235-6d28b0d97ca4 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-49e625ec-e44e-42de-8235-6d28b0d97ca4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}