#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Ellipse_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Ellipse_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Ellipse_18 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Ellipse_19 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Ellipse_20 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Ellipse_21 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Ellipse_22 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Ellipse_23 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Rectangle_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Ellipse_24 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Rectangle_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Ellipse_25 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Rectangle_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Text_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Ellipse_26 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Rectangle_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Text_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Ellipse_27 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Rectangle_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Ellipse_28 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Ellipse_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Ellipse_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Ellipse_12 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Ellipse_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Ellipse_14 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Ellipse_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Rectangle_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Ellipse_16 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Label_83 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a2a1fe88-f2bf-46c2-b05c-e61b91f60b75 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}