#s-ad6749b7-07b3-421f-a9b1-f216ce711f44 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-ad6749b7-07b3-421f-a9b1-f216ce711f44 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-ad6749b7-07b3-421f-a9b1-f216ce711f44 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-ad6749b7-07b3-421f-a9b1-f216ce711f44 #s-Ellipse_3 {
  -pie-background: linear-gradient(to right,#3D84FA,#34AFFF);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-ad6749b7-07b3-421f-a9b1-f216ce711f44 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-ad6749b7-07b3-421f-a9b1-f216ce711f44 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-ad6749b7-07b3-421f-a9b1-f216ce711f44 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-ad6749b7-07b3-421f-a9b1-f216ce711f44 #s-Ellipse_4 {
  -pie-background: linear-gradient(to right,#3D84FA,#34AFFF);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-ad6749b7-07b3-421f-a9b1-f216ce711f44 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-ad6749b7-07b3-421f-a9b1-f216ce711f44 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-ad6749b7-07b3-421f-a9b1-f216ce711f44 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-ad6749b7-07b3-421f-a9b1-f216ce711f44 #s-Ellipse_5 {
  -pie-background: linear-gradient(to right,#51B328,#85EB29);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-ad6749b7-07b3-421f-a9b1-f216ce711f44 #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-ad6749b7-07b3-421f-a9b1-f216ce711f44 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-ad6749b7-07b3-421f-a9b1-f216ce711f44 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-ad6749b7-07b3-421f-a9b1-f216ce711f44 #s-Ellipse_6 {
  -pie-background: linear-gradient(to right,#51B328,#85EB29);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-ad6749b7-07b3-421f-a9b1-f216ce711f44 #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-ad6749b7-07b3-421f-a9b1-f216ce711f44 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-ad6749b7-07b3-421f-a9b1-f216ce711f44 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-ad6749b7-07b3-421f-a9b1-f216ce711f44 #s-Ellipse_7 {
  -pie-background: linear-gradient(to right,#F4B601,#FFEE77);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-ad6749b7-07b3-421f-a9b1-f216ce711f44 #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-ad6749b7-07b3-421f-a9b1-f216ce711f44 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-ad6749b7-07b3-421f-a9b1-f216ce711f44 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-ad6749b7-07b3-421f-a9b1-f216ce711f44 #s-Ellipse_8 {
  -pie-background: linear-gradient(to right,#F4B601,#FFEE77);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-ad6749b7-07b3-421f-a9b1-f216ce711f44 #s-Rectangle_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #4CD864;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #4CD864;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #4CD864;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #4CD864;
  border-radius: 16px 16px 16px 16px;
  -pie-background: linear-gradient(to right,#FF4A2B,#FE7325);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-ad6749b7-07b3-421f-a9b1-f216ce711f44 #s-Ellipse_9 {
  stroke-width: 2px;
  stroke: #47CE5F;
  -ms-transform: rotate(0.0deg);
}
#s-ad6749b7-07b3-421f-a9b1-f216ce711f44 #s-Rectangle_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-ad6749b7-07b3-421f-a9b1-f216ce711f44 #s-Ellipse_10 {
  stroke-width: 2px;
  stroke: #D9D9D9;
  -pie-background: linear-gradient(to right,#FF4A2B,#FE7325);
  -pie-poll: false;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-ad6749b7-07b3-421f-a9b1-f216ce711f44 #s-Rectangle_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #4CD864;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #4CD864;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #4CD864;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #4CD864;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-ad6749b7-07b3-421f-a9b1-f216ce711f44 #s-Ellipse_11 {
  stroke-width: 2px;
  stroke: #47CE5F;
  -ms-transform: rotate(0.0deg);
}
#s-ad6749b7-07b3-421f-a9b1-f216ce711f44 #s-Rectangle_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-ad6749b7-07b3-421f-a9b1-f216ce711f44 #s-Ellipse_12 {
  stroke-width: 2px;
  stroke: #D9D9D9;
  -pie-background: linear-gradient(to right,#3D84FA,#34AFFF);
  -pie-poll: false;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-ad6749b7-07b3-421f-a9b1-f216ce711f44 #s-Rectangle_20 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #4CD864;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #4CD864;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #4CD864;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #4CD864;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-ad6749b7-07b3-421f-a9b1-f216ce711f44 #s-Ellipse_13 {
  stroke-width: 2px;
  stroke: #47CE5F;
  -ms-transform: rotate(0.0deg);
}
#s-ad6749b7-07b3-421f-a9b1-f216ce711f44 #s-Rectangle_21 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-ad6749b7-07b3-421f-a9b1-f216ce711f44 #s-Ellipse_14 {
  stroke-width: 2px;
  stroke: #D9D9D9;
  -pie-background: linear-gradient(to right,#F4B601,#F7C542);
  -pie-poll: false;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-ad6749b7-07b3-421f-a9b1-f216ce711f44 #s-Rectangle_22 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #4CD864;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #4CD864;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #4CD864;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #4CD864;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-ad6749b7-07b3-421f-a9b1-f216ce711f44 #s-Ellipse_15 {
  stroke-width: 2px;
  stroke: #47CE5F;
  -ms-transform: rotate(0.0deg);
}
#s-ad6749b7-07b3-421f-a9b1-f216ce711f44 #s-Rectangle_23 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-ad6749b7-07b3-421f-a9b1-f216ce711f44 #s-Ellipse_16 {
  stroke-width: 2px;
  stroke: #D9D9D9;
  -pie-background: linear-gradient(to right,#51B328,#36DC54);
  -pie-poll: false;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-ad6749b7-07b3-421f-a9b1-f216ce711f44 #s-Label_83 {
  -ms-transform: rotate(0.0deg);
}
#s-ad6749b7-07b3-421f-a9b1-f216ce711f44 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ad6749b7-07b3-421f-a9b1-f216ce711f44 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}